@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 64px;
    min-height: 100vh;
}

#invoice-container iframe {
    height: 90%;
    width: 100%;
}

/* disable autocomplete styles on input fields */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

